/* src/index.css */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}

h2, h3 {
  font-weight: 600;
}

.table th {
  background-color: #0d6efd;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.popup-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50; /* green */
  color: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  font-size: 18px;
  z-index: 1000;
  animation: fadeOut 2s ease-in-out 2s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
